[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colour = "*"
python-firebase = "*"
paho-mqtt = "*"
sense_hat = "*"
pyrebase = "*"
py-flags = "*"
uuid = "*"

[dev-packages]
